.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  /* padding: 3rem; */
  margin: 20px;
  background: #f9fafb;
}

.content {
  max-width: 400px;
  background: #fff;
  padding: 20px 20px;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  text-align: left;
}

.brand {
  color: #f97316; /* orange accent */
}

.content p {
  line-height: 1.6;
  color: #444;
  font-size: 12px;
}

.btn {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: #f97316;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #ea580c;
}
