.all{
    height: 350px; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling if any */
  margin-top: 20px;
}
.container {
  width: 800px;
  display: flex;
  gap: 20px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}
.container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.container p {
  padding: 10px;
}
